node_modules
npm-debug.log
.git
.gitignore
.env
Frontend/inscricoes.json
Frontend/contatos.json
Frontend/contratacoes.json
*.rar
*.zip
*.7z
docs/
.vscode/
coverage/
dist/
build/
backend/uploads/
frontend/docs/
**/node_modules
