.youtube-player {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
}

/* Maintain aspect ratio */
.live-video {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}

.youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}